<!DOCTYPE html>

<html lang="en">
<head th:replace="/fragments/headTag :: headTag"></head>
<body>
<div class="container">
    <div th:include="/fragments/bodyHeader" th:remove="tag"></div>
    
    <h2>Find Owners</h2>

    <form th:object="${owner}" action="ownersList.html" th:action="@{/owners.html}" method="get" class="form-horizontal"
               id="search-owner-form">
        <fieldset>
            <div class="control-group" id="lastName">
                <label class="control-label">Last name </label>
                <input type="text" th:field="*{lastName}" size="30" maxlength="80"/>
                <span class="help-inline" th:errors="*{lastName}">[Errors]</span>
            </div>
            <div class="form-actions">
                <button type="submit">Find Owner</button>
            </div>
        </fieldset>
    </form>

    <br/>
    <a th:href="@{'/owners/new'}" href="createOrUpdateOwnerForm.html">Add Owner</a>

    <table th:replace="/fragments/footer :: footer" class="footer"></table>

</div>
</body>

</html>
